.frosh-widget-group-requests {
    overflow-x: auto;

    &__grid {
        border: none;
    }

    &__actions {
        display: flex;
        gap: 8px;
        white-space: nowrap;
        justify-content: flex-end;
    }

    &__empty {
        padding: 24px;
        text-align: center;
        color: var(--color-text-secondary-default, #758ca3);
    }
}
