# Copy to .env and adjust for your environment.
APP_URL=http://sw-trunk.localhost
SHOPWARE_ADMIN_USERNAME=admin
SHOPWARE_ADMIN_PASSWORD=shopware
# Set to 1 if your shop uses a self-signed certificate.
SHOPWARE_PLAYWRIGHT_IGNORE_HTTPS_ERRORS=0
